.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  padding: 20px;
  margin: 10px;
  margin-top: 23px;
}

.product > img {
  display: flex;
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31;
  color: #111;
}

.product_info {
  height: 100px;
  margin-bottom: 15px;
  width: 100%;
}

.product_rating {
  display: flex;
}

.address{
  font-size: medium;
  font-weight: 600; 
}

.hotel_name{
  font-weight: 35px;
  font-size: larger;
}

.surplus_food{
  font-weight: 600;
}


