.checkout {
  background-color: rgb(234, 237, 237);
  display: flex;
  margin: 30px;
}

.checkout_left {
  /* display: flex; */
  width: 100%;
  background-color: white;
  align-items: center;
  margin: 20px;
  padding: auto;
  height: auto;
  /* max-height: 500px; */
}

.checkout_right {
  background-color: white;
  max-width: 300px;
  align-items: center;
  display: flex;
  width: 300px;
  height: 200px;
}

.total {
  margin: 10px;
  flex-wrap: wrap;
}

.checkout_title {
  margin-left: 20px;
  font-weight: 550;
}
